@model IEnumerable<WebApplication1.estudiante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_estudiante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.carrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.asignaturas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_estudiante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.carrera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.asignaturas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
